# dependencies
/node_modules

# testing
/coverage

# production
/build
/dist
.htaccess

# misc
*.exe
*.pem
.DS_Store
.nfs*
Thumbs.db

# env files
.env*
!.env*.example

# bun
**/*.bun
**/*.log
**/*.tar.gz
**/*.tgz
**/*.trace
**/*.zip

# sqlite
sqlite.db

# drizzle
drizzle

