# dependencies
/node_modules

# testing
/coverage

# production
/build
/dist

# misc
*.exe
*.pem
.DS_Store
Thumbs.db

# env files
.env*
!.env.example

# bun
**/*.bun
**/*.log
**/*.tar.gz
**/*.tgz
**/*.trace
**/*.zip

# sqlite
sqlite.db
